{% block diretoria %}

    <style>

       /* Importing fonts from Google */
       @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}




.container .row .col-lg-4 {
    display: flex;
    justify-content: center;
}

.card {
    position: relative;
    padding: 0;
    margin: 0 !important;
    border-radius: 20px;
    overflow: hidden;
    max-width: 280px;
    max-height: 340px;
    cursor: pointer;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}

.card .card-image {
    
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.card .card-image img {
    width: 100%;
    max-height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card .card-content {
    position: absolute;
    bottom: -180px;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    min-height: 140px;
    width: 100%;
    transition: bottom .4s ease-in;
    box-shadow: 0 -10px 10px rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.card:hover .card-content {
    bottom: 0px;
}

.card:hover .card-content h4,
.card:hover .card-content h5 {
    transform: translateY(10px);
    opacity: 1;
}

.card .card-content h4,
.card .card-content h5 {
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    transition: 0.8s;
    font-weight: 500;
    opacity: 0;
    transform: translateY(-40px);
    transition-delay: 0.2s;
}

.card .card-content h5 {
    transition: 0.5s;
    font-weight: 200;
    font-size: 0.8rem;
    letter-spacing: 2px;
}

.card .card-content .social-icons {
    list-style: none;
    padding: 0;
}


.card .card-content .social-icons li {
    margin: 10px;
    transition: 0.5s;
    transition-delay: calc(0.15s * var(--i));
    transform: translateY(50px);
}


.card:hover .card-content .social-icons li {
    transform: translateY(20px);
}

.card .card-content .social-icons li a {
    color: #fff;
}

.card .card-content .social-icons li a span {
    font-size: 1.3rem;
}

@media(max-width: 991.5px) {
    .container {
        margin-top: 20px;
    }

    .container .row .col-lg-4 {
        margin: 20px 0px;
    }
}

body
{
      background-color: rgb(205, 206, 203);
}

#mainCoantiner


.mystyleSec


.mystylethird

/*************header*******/

.main-header {
    top: 0;
    left: 0;
    z-index: 20;
    -webkit-transform: translate3d(0,0,0);
    height: 70px;
    width: 100%;
    bottom: inherit;
    text-align: center;
    background: rgba(28, 31, 47, 0.16);
    overflow: hidden;
    border: 1px solid #2e344d;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    box-shadow: 10px 10px 36px rgb(0,0,0,0.5), -13px -13px 23px rgba(255,255,255, 0.03);
    border-width: 1px 0px 0 1px;
}

.folio-btn {
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.03);
    border-top: 1px solid rgba(255,255,255,0.1);
    right: 0;
    height: 70px;
    width: 70px;
}

.folio-btn-item {
position: absolute;
    width: 40px;
    height: 40px;
    left: 15px;
    top: 15px;
}

.folio-btn-dot {
    float: left;
    width: 33.3%;
    height: 33.3%;
    position: relative;
}

.folio-btn-dot:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 4px;
    height: 4px;
    margin: -2px 0 0 -2px;
    border-radius: 50%;
    transition: all 300ms linear;
    transform: scale(1.0);
}

.folio-btn-dot:before
{
  background: #00BCD4;
}

.folio-btn:hover .folio-btn-dot:first-child:before, .folio-btn:hover .folio-btn-dot:nth-child(3):before, .folio-btn:hover .folio-btn-dot:nth-child(4):before, .folio-btn:hover .folio-btn-dot:nth-child(8):before {
    transform: scale(1.8);
    opacity: 0.5;
}


/***social***/
.header-social {
position: absolute;
    z-index: 20;
    width: auto;
    bottom: 17px;
    right: 90px;
    padding: 0;
    min-width: 140px;
    box-shadow: 3px 9px 16px rgb(0,0,0,0.4), -3px -3px 10px rgba(255,255,255, 0.06), inset 14px 14px 26px rgb(0,0,0,0.3), inset -3px -3px 15px rgba(255,255,255, 0.05);
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: #2e344d;
}

.header-social:before
{
  background: #00BCD4;
}

.header-social:before {
    content: '';
    position: absolute;
    left: 50%;
    top: -3px;
    width: 36px;
    margin-left: -18px;
    height: 6px;
}

.header-social li {
    display: block;
    float: left;
    margin-top: 0;
}

.header-social li a {
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    font-size: 12px;
    border-style: solid;
    color: rgba(255, 255, 255, 0.41);
    border: 1px solid rgba(255, 255, 255, 0.08);
    transition: all 300ms linear;
}

.header-social li a:hover
{
  color:  #00BCD4;
  cursor:pointer;
}

ul, li
{
      border: none;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}

.main-header:before {
    content: '';
    position: absolute;
    left: 10px;
    width: 60px;
    height: 1px;
    bottom: 120px;
    background: rgba(255,255,255,0.1);
}

/***end*****/

.card{    border: none;
    border-radius: 30px;
background-color: #14edaa;}

.wow-bg
{
      background-color: #141421;
    border: 1px solid #2e2e4c;
    box-shadow: 3px 9px 16px rgb(0,0,0,0.4), -3px -3px 10px rgba(255,255,255, 0.06), inset 14px 14px 26px rgb(0,0,0,0.3), inset -3px -3px 15px rgba(255,255,255, 0.05);
  border-radius: 10px;
  margin-top: 4px;
}






@keyframes animStar
{
  0% {
    transform: translateY(0px);
}
  100% {
    transform: translateY(-2000px);
}
}



.logn-btn
{
     background: #1c1f2f;
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid #2e344d;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    /* box-shadow: 10px 10px 36px rgb(0,0,0,0.5), -13px -13px 23px rgba(255,255,255, 0.03), inset 14px 14px 70px rgb(0,0,0,0.2), inset -15px -15px 30px rgba(255,255,255, 0.04); */
    box-shadow: 0px 2px 26px rgb(0,0,0,0.5), 0px 7px 13px rgba(255,255,255, 0.03);
    margin-top: 30px;
}

.logn-btn:hover
{
  background-color: #1c1f2f;
    border-radius: 50px;
    min-width: 140px;
    /* box-shadow: 10px 10px 36px rgb(0,0,0,0.5), -13px -13px 23px rgba(255,255,255, 0.03), inset 14px 14px 70px rgb(0,0,0,0.2), inset -15px -15px 30px rgba(255,255,255, 0.04); */
    box-shadow: 3px 9px 16px rgb(0,0,0,0.4), -3px -3px 10px rgba(255,255,255, 0.06), inset 14px 14px 26px rgb(0,0,0,0.3), inset -3px -3px 15px rgba(255,255,255, 0.05);
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: #2e344d;
}

.textbox-dg
{
  background: rgba(28, 31, 47, 0.16);
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #2e344d;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    /* box-shadow: 10px 10px 36px rgb(0,0,0,0.5), -13px -13px 23px rgba(255,255,255, 0.03), inset 14px 14px 70px rgb(0,0,0,0.2), inset -15px -15px 30px rgba(255,255,255, 0.04); */
    box-shadow: 10px 10px 36px rgb(0,0,0,0.5), -13px -13px 23px rgba(255,255,255, 0.03);
    border-width: 1px 0px 0 1px;
      margin-top: 15px;
}



.form-control:focus
{
  border: 1px solid #344d2e;
  color: #495057;
    outline: 0;
    background: rgb(17, 20, 31);
    border-radius: 4px;
  transition: all 0.3s ease-in-out 0s;
    /* box-shadow: 10px 10px 36px rgb(0,0,0,0.5), -13px -13px 23px rgba(255,255,255, 0.03), inset 14px 14px 70px rgb(0,0,0,0.2), inset -15px -15px 30px rgba(255,255,255, 0.04); */
    box-shadow: 10px 10px 36px rgb(0,0,0,0.5), -13px -13px 23px rgba(255,255,255, 0.03);
}



.btn-link {
    color: #344d2e;
}


.btn-link:hover {
    color: #2b7a19;
    text-decoration: underline;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #807f7f;
    background-color: transparent;
    border-color: #2b7a19;
}


.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    box-shadow: 0 0 0 0.2rem rgba(0, 255, 110, 0.25);
}

.mt-6, .my-6 {
    margin-top: 2rem !important;
}


.socila-btn
{
  height: 40px;
    border-radius: 10%;
    width: 40px;
    box-shadow: 3px 9px 16px rgb(0,0,0,0.4), -3px -3px 10px rgba(255,255,255, 0.06), inset 14px 14px 26px rgb(0,0,0,0.3), inset -3px -3px 15px rgba(255,255,255, 0.05);
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: rgba(255,255,255, 0.2);
    margin-right: 10px;
   
}

.fb-color
{
  color:#3b5998 ;
}

.incolor
{
  color:#007bff;
}

.tweetcolor
{
  color:#41a4f7;
}
.driblecolor
{
  color:#e83e8c;
}

.colorboard
{
  color: #00ffaaed;
}


/***********pricing table**********/
.title-h1 {
  margin-top:0.5em;
       margin-bottom: 1.4em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    line-height: inherit;
    color: #ffffff;
    font-size: 38px;
}

.title-h1 .light
{
  font-weight: normal;
}

.pricing-price-wrapper
{
 
   
  padding-bottom: 34px;
      text-align: center;
  
}

.pricing-cost {
    font-size: 50px;
    font-weight: 300;
    line-height: 1;
}

.pricing-table-style-4 .time {
    font-size: 24px;
    font-weight: 300;
}

.pricing-row-title
{
  background-color: transparent;
  padding: 26px 10px;
      text-align: center;
}

.pricing_row_title {
    color: #00bcd4;
  line-height: 38px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.pricing-table.pricing-table-style-4 .pricing-row
{
  background-color: #393b4a;
}
.pricing-table-style-4 figure.pricing-row:first-of-type {
    padding-top: 15px;
}
.pricing-table-style-4 .pricing-row {
    padding: 5px 10px;
}
figure {
    margin: 0;
  display: block;
}

figure {
display: block;
    padding-block-start: 0.4em;
    padding-block-end: 0.4em;
    padding-inline-start: 40px;
    padding-inline-end: 40px;
    background-color: transparent;
    text-align: left;
}

.pricing-row:before {
    vertical-align: middle;
   content: "\f058";
    font-family: "Font Awesome 5 Free";
    color: #00bfa5;
    text-align: center;
    padding-right: 10px;
}

.strike:before
{
  content:none;
}
.pricing_row_title {
    color: #00bcd4;
}


body
{
  color: #5f727f;
}

.pricing-column
{
    background-color: #217b47cc;
  float: none;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin-bottom: 42px;
  -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    border-radius: 50px;
}

.pricing-column-wrapper {
    min-width: 271px;
  text-align: center;
}

.pricing-row-title {
    background-color: rgba(48, 50, 65, 0.2);
}

.margin-body
{
        position: relative;
    width: 90%;
    box-sizing: border-box;
    margin: auto;
}

.pricing-row
{
  border-top: 1px solid #7273723b;
}


.pricing-price-wrapper
{
  border-top-right-radius: 50%;
    border-top-left-radius: 50%;
   
}

.pricing-column-wrapper + .pricing-column-wrapper .pricing-price {
    background-color: #a637ec;
    -webkit-box-shadow: 0px 0px 0px 10px rgba(166, 55, 236, 0.31);
    -moz-box-shadow: 0px 0px 0px 10px rgba(166, 55, 236, 0.31);
    box-shadow: 0px 0px 0px 10px rgba(166, 55, 236, 0.31);
}

.strike
{
  text-decoration: line-through;
    color: #99a9b5;
}

.pricing-column-wrapper + .pricing-column-wrapper .pricing_row_title {
    color: #a637ec;
}

.pricing-column-wrapper + .pricing-column-wrapper + .pricing-column-wrapper .pricing_row_title {
    color: #ee417c;
}

.pricing-column-wrapper + .pricing-column-wrapper + .pricing-column-wrapper .pricing-price {
    background-color: #ee417c;
    -webkit-box-shadow: 0px 0px 0px 10px rgba(238, 65, 124, 0.31);
    -moz-box-shadow: 0px 0px 0px 10px rgba(238, 65, 124, 0.31);
    box-shadow: 0px 0px 0px 10px rgba(238, 65, 124, 0.31);
}

.pricing-column-wrapper + .pricing-column-wrapper + .pricing-column-wrapper + .pricing-column-wrapper .pricing_row_title {
    color: #ff994e;
}

.pricing-column-wrapper + .pricing-column-wrapper + .pricing-column-wrapper + .pricing-column-wrapper .pricing-price {
    background-color: #ff994e;
    -webkit-box-shadow: 0px 0px 0px 10px rgba(255, 153, 78, 0.31);
    -moz-box-shadow: 0px 0px 0px 10px rgba(255, 153, 78, 0.31);
    box-shadow: 0px 0px 0px 10px rgba(255, 153, 78, 0.31);
}

.pricing-column-wrapper + .pricing-column-wrapper .pricing-row:before{
    color: #a637ec;
}

.pricing-column-wrapper + .pricing-column-wrapper + .pricing-column-wrapper .pricing-row:before
{
  color: #ee417c;
}

.pricing-column-wrapper + .pricing-column-wrapper + .pricing-column-wrapper + .pricing-column-wrapper .pricing-row:before
{
      color: #ff994e;
}


.gem-button
{
    cursor: pointer;
  border-width: 2px;
    line-height: 36px;
    border-style: solid;
    background: transparent;
    height: 40px;
    line-height: 40px;
    padding: 0 17px;
    font-size: 14px;
    margin: 25px;
    position: relative;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    vertical-align: middle;
  
}
.gem-green
{
  border-radius: 0px;
    border-color: rgb(0, 188, 212);
    color: rgb(0, 188, 212) !important;
}
.gem-green:hover
{
     background-color: rgb(0, 188, 212);
    color: rgb(255, 255, 255) !important;
}

.gem-purpel
{
  border-radius: 0px;
    border-color: rgb(166, 55, 236);
    color: rgb(166, 55, 236) !important;
}

.gem-purpel:hover
{
     background-color: #a637ec;
    color: rgb(255, 255, 255) !important;
}


.gem-orange
{
  border-radius: 0px;
    border-color: #ee417c;
    color: #ee417c !important;
}

.gem-orange:hover
{
     background-color: #ee417c;
    color: rgb(255, 255, 255) !important;
}

.gem-yellow
{
  border-radius: 0px;
    border-color: #ff994e;
    color: #ff994e !important;
}
.gem-yellow:hover
{
     background-color: #ff994e;
    color: rgb(255, 255, 255) !important;
}


.gem-button-position-center {
    text-align: center;
    display: block;
      background-color: rgba(0, 0, 0, 0.16862745098039217);
    border-radius: 0px 0px 10px 10px;
}

.pricing-column:hover .pricing-price-wrapper
{
      box-shadow: 0px 35px 80px rgba(4, 255, 236, 0.25), 0px 0px 0px rgba(10, 197, 173, 0.33);
  -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.pricing-column:hover
{
  overflow:hidden;
}

.pricing-column-wrapper + .pricing-column-wrapper .pricing-column:hover .pricing-price-wrapper
{
      box-shadow: 0px 35px 80px rgba(230, 2, 241, 0.34), 0px 0px 0px rgba(21, 21, 20, 0.79);
  -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.pricing-column-wrapper + .pricing-column-wrapper + .pricing-column-wrapper .pricing-column:hover .pricing-price-wrapper
{
       box-shadow: 0px 35px 80px rgba(255, 4, 166, 0.25), 0px 0px 0px rgba(222, 6, 84, 0.33);
  -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.pricing-column-wrapper + .pricing-column-wrapper + .pricing-column-wrapper + .pricing-column-wrapper .pricing-column:hover .pricing-price-wrapper
{
      box-shadow: 0px 35px 80px rgba(241, 139, 2, 0.34), 0px 0px 0px rgba(21, 21, 20, 0.79);
  -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
    </style>

    <div id="mainCoantiner">
        <!--dust particel-->
        <div class="margin-body">
    
        <!--Dust particle end--->
      
        <div class="row">
          <div class="col-sm-12 col-md-12" style="margin: 20px 0px;">
            <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper">
                    <div class="title-h1 text-center" style="color:#164a4f"><strong>DIRETORIA</strong></div>
                  <h3 align="center" style="color:#164a4f"><span class="light">Conselho de  </span> Administração</span></h3>
                </div>
              </div>
          </div>
        </div>
        <br><br><br><br><br>

        
        <div class="row justify-content-between">
          <div class="col-sm-3 col-md-3 pricing-column-wrapper" >
               <div class="pricing-column">
                    <div class="pricing-price-row">
                      <div class="pricing-price-wrapper">
                        <div class="pricing-price">
                          <div class="pricing-cost"></div>
                          <div class="time"></div>
                        </div>
                      </div>
                    </div>
                    <div class="pricing-row-title">
                      <div class="pricing_row_title" style="color:#fff">Diretoria Executiva</div>
                    </div>
                    <figure class="pricing-row"><span style="color: #0d0e0f;">LAERT TEIXEIRA - Presidência</figure>
                    <figure class="pricing-row"><span style="color: #0d0e0f;">ROSSANA MARTINS DA SILVA - Diretoria Financeira</span></figure>
                 <figure class="pricing-row"><span style="color: #0d0e0f;">ROSEMEIRE SOARES DANTAS PEREIRA 
      - Diretora Administrativa</span></figure>
              
                    <div class="pricing-footer">
                      <div class="gem-button-container gem-button-position-center"></div>
                    </div>
                  </div>
          </div>




          <div class="col-sm-3 col-md-3 pricing-column-wrapper">
            <div class="pricing-column">
                    <div class="pricing-price-row">
                      <div class="pricing-price-wrapper">
                       
                      </div>
                    </div>
                    <div class="pricing-row-title">
                      <div class="pricing_row_title" style="color:#fff">CONSELHO DE ÉTICA
      </div>
                    </div>
                    <figure class="pricing-row"> <span style="color: #0d0e0f">ELISÂNGELA SANCHES JANUÁRIO </span>
      </figure>
                    <figure class="pricing-row"><span style="color: #0d0e0f;">ELZA PAIVA DOS SANTOS SILVA </span>
      </figure>
                    <figure class="pricing-row"><span style="color: #0d0e0f;">ANGELA MARIA FERREIRA MONTEIRO
      </span></figure>
                   
                    <div class="pricing-footer">
                      <div class="gem-button-container gem-button-position-center">
                        </div>
                    </div>
                  </div>
          </div>
          






          <div class="col-sm-3 col-md-3 pricing-column-wrapper">
            <div class="pricing-column">
                   <div class="pricing-price-row">
                     <div class="pricing-price-wrapper">                       
                     </div>
                   </div>
                   <div class="pricing-row-title">
                     <div class="pricing_row_title" style="color:#fff">Coordenações Temáticas 
     </div>
                   </div>
                   <figure class="pricing-row"><span style="color: #0d0e0f;">Comunicação – MARIA CRISTINA ÁVILA DA SILVA</span>
     </figure>
                   <figure class="pricing-row"><span style="color: #0d0e0f;">Cultura - DALMO JAENICKE</span></figure>
                   <figure class="pricing-row"><span style="color: #0d0e0f;">Educação Corporativa - SUSAN MARIANA CHAVES FERNANDES
     </span></figure>
              <figure class="pricing-row"><span style="color: #0d0e0f;">Projetos - JOSENEIDE RIBEIRO MONTENEGRO
     </span></figure>
              <figure class="pricing-row"><span style="color: #0d0e0f;">Relações Institucionais - ARIANA ARRUDA GENTIL BRASILEIRO
     </span></figure>
              <figure class="pricing-row"><span style="color: #0d0e0f;">Coordenação Técnica Agroambiental - FERNÃO LOPES GINEZ DE LARA
     </span></figure>
                   
                   
                   <div class="pricing-footer">
                     <div class="gem-button-container gem-button-position-center"></div>
                   </div>
                 </div>
         </div>


         

          <div class="col-sm-3 col-md-3 pricing-column-wrapper">
            <div class="pricing-column">
                    <div class="pricing-price-row">
                      <div class="pricing-price-wrapper">
                       
                          
                         
                      </div>
                    </div>
                    <div class="pricing-row-title">
                      <div class="pricing_row_title" style="color:#fff">CONSELHO FISCAL
      </div>      
                    </div>
                    <div class="pricing_row_title" align="center">Titulares
                    </div>  
                    <figure class="pricing-row"><span style="color: #0d0e0f">Titular 1 – RAIMUNDO GORDIANO DE SÁ  </span>
      </figure>
                    <figure class="pricing-row"><span style="color: #0d0e0f">Titular 2 – JOÃO DOMINGOS MACHADO DEL FRARI</span></figure>
                    <figure class="pricing-row"><span style="color: #0d0e0f">Titular 3 – ROBSON VITOR GONÇALVES DE MATOS </figure>
      </span></figure>

      <div class="pricing_row_title" align="center">Suplentes
    </div>      
      
                    <figure class="pricing-row"> <span style="color: #0d0e0f">Suplente 1 – JOSÉ FRANCISCO DE SOUZA</span>
      </figure>

                    <figure class="pricing-row"> <span style="color: #0d0e0f">Suplente 2  RENO RANGEL COSTA CRUZ BONFIM</span>
      </figure>

              <figure class="pricing-row"> <span style="color: #0d0e0f">Suplente 3 – MARLY GALDINO DE ALMEIDA</span>
      
      </figure>
                    <div class="pricing-footer">
                      <div class="gem-button-container gem-button-position-center"></div>
                    </div>
                  </div>
          </div>

     


        </div>
      
       </div>
      </div>

    {% endblock diretoria %}
