{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>Sobre - Palmas</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="../templates/assets/css/style.css" rel="stylesheet">
  
  </head>



<style>

.story-intro .content h3 {
      font-weight: 600;
      font-size: 26px;
    }
    
    .story-intro .content ul {
      list-style: none;
      padding: 0;
    }
    
    .story-intro .content ul li {
      padding-bottom: 10px;
    }
    
    .story-intro .content ul i {
      font-size: 20px;
      padding-right: 4px;
      color: #006fbe;
    }
    
    .story-intro .content p:last-child {
      margin-bottom: 0;
    }
    

  



    </style>

<body>

  <header class="masthead">
    <div class="overlay">            
   <h1 align="center" style="color: #6f8f72; font-size: 36px; font-family: Poppins, sans-serif;">
           
    </h1>
    <img src="" alt="">
   
    </div>

    <br>
    <br>
</header>
  
  <main id="main">

    <header class="masthead">
      <div class="overlay">            
      <h1 align="center" style="color: #164a4f; font-size: 36px; font-family: Poppins, sans-serif;">
          Sobre Nós      
      </h1>
      <img src="" alt="">
     
      </div>
  
      <br>
      <br>
  </header>

 <!-- ======= Story Intro Section 1 ======= -->
 <section id="story-intro" class="story-intro">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 order-xlg-2 order-lg-2 justify-content-center" >
            
            <div class="card p-0" style=" max-width: 100%; max-height: 500px; cursor: pointer;  object-fit: scale-down; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); ;">
                <div class="card-image" >                
                    <img src="https://raw.githubusercontent.com/PedroMurta/Django-Server/main/static/Logotipo_sobre.png"  align-self="end" class="img" width="100%" height="750px" max-width="100%" max-height="auto" object-fit='cover'
                        alt="">
                </div>
                <div class="card-content d-flex flex-column align-items-center">
                    <h4 class="pt-2" style="color:black">Logotipo</h4>
                    <h5></h5>
        </div>
    </div>
</div>
        <div class="col-lg-8 pt-4 pt-lg-0 order-2 order-lg-1">
          <h3 style="color:#164a4f" align="start">O CooperPalmas.</h3><br>
          <p class="fst-italic">
            Em 1990, a empresa Colono Empreendimentos Rurais Ltda. lançou um empreendimento
imobiliário na área com lotes de três mil metros quadrados. E entre 1991 e 1995, a
Coohaj adquiriu direitos sobre a área de 136,87 hectares composta por 68 chácaras,
todas situadas na Chapada da Contagem, Fazenda Palmas (Palmas e Roteador).

          </p>
          
          <p>
            No início dos anos 90, houve um boom na criação de cooperativas habitacionais no DF,
incentivadas pelo GDF, especialmente em razão da criação da cidade de Águas Claras e
a proliferação de condomínios habitacionais rurais em todo o Distrito Federal. A maioria
das cooperativas se organizou por meio de órgãos, empresas ou categorias profissionais.
No nosso caso, a Coohaj, foi originalmente criada para atender à demanda por moradias
dos profissionais de comunicação do DF, que, entre vários empreendimentos, teve início
o empreendimento denominado “Condomínio Palmas do Lago Oeste”, popularmente
conhecido como “Condomínio dos Jornalistas”.
          </p>
        </div>
      </div>

    </div>
    <br>
  </section> <br> <!-- End Story
    Intro Section 2 -->
<br>
  <section id="story-intro" class="story-intro">
    <div class="container" >
      <div class="row">
        <div class="col-lg-4 order-xlg-2 order-lg-1 justify-content-center" >
         
            <div class="card p-0"  style=" max-width: 100%; max-height: 500px; cursor: pointer;  object-fit: contain; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);">
                <div class="card-image" >
                    <img src="https://cdn.jornaldebrasilia.com.br/wp-content/uploads/2019/11/WhatsApp-Image-2019-11-07-at-16.27.15.jpeg" align-self="end" class="img" width="100%" height="750px" max-width="100%" max-height="auto" object-fit='cover'
                        alt="">
                </div>
                <div class="card-content d-flex flex-column align-items-center">
                    <h4 class="pt-2">DF 001</h4>
                    <h5>Estrada em direção da cooperativa</h5>
        </div>
    </div>
</div>

<div class="col-lg-8 pt-4 pt-lg-0 order-2 order-lg-2">
          <h3 style="color:#164a4f" align="end">O LAGO OESTE.</h3>   <br>       
            <p class="fst-italic">
              Nossos associados e associadas, que inicialmente aderiram à Coohaj, o fizeram pelo
              prazer do contato com a terra e respeito ao meio ambiente, e por quererem fazer a coisa
              certa foram unânimes na votação pela criação de uma cooperativa com vocação
              agroambiental. Assim, a seccional Palmas do Lago Oeste aprovou em setembro de 2018
              o desmembramento da Coohaj, e em outubro de 2018 foi constituída a CooperPalmas e
              em março de 2019 a administração da área foi transferida para a Cooperpalmas. Esta
              passagem marca o fim do empreendimento imobiliário e se constitui como o marco do
              processo de construção de uma cooperativa com atuação no ramo agroambiental,
              exatamente para contribuir com a viabilização da regularização fundiária e para resolver
              os entraves ambientais criados por decisões judiciais, leis e decretos posteriores à sua
              implantação em 1991.
            </p>
            <p>
              Conforme o conceito, uma gestão agroambiental remete à ordenação de atividades
desenvolvidas em áreas rurais respeitando a capacidade de suporte do agrossistema
onde está inserida. Assim, toda a atuação daqueles inseridos nessas áreas deve causar
o menor impacto negativo sobre o meio ambiente e contribuir para o desenvolvimento
local sustentável.
            </p>
            
        </div>
      </div>
    </div>
    <br>
  </section><!-- End Story Intro Section -->
<br>
 <!-- ======= Story Intro Section  3 ======= -->
 <section id="story-intro" class="story-intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 order-xlg-2 order-lg-2 justify-content-center" >
          
          <div class="card p-0"  style=" max-width: 100%; max-height: 500px; cursor: pointer;  object-fit: contain; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);">
              <div class="card-image" >
                  <img src="https://www.coohaj.org.br/COOHAJ/arquivos/Empreendimentos/Lago%20Oeste/Lago%20Oeste%20(2).jpg" align-self="end" class="img"  align-self="end" class="img" width="100%" height="750px" max-width="100%" max-height="auto" object-fit='cover'
                      alt="">
              </div>
              <div class="card-content d-flex flex-column align-items-center">
                  <h4 class="pt-2">Portaria da Cooperativa</h4>
                  <h5>2014</h5>
      </div>
  </div>
</div>

      <div class="col-lg-8 pt-4 pt-lg-0 order-2 order-lg-1">
        <h3 style="color:#164a4f">Propósito.</h3>
        <p class="fst-italic">
          Este propósito fica claro no objeto social do estatuto social da CooperPalmas quando
          pontua, em seus princípios, o respeito ao ambiente e a todas as formas de vida, o que,
          como todo o restante do documento votado e aprovado, tem que ser respeitado de
          agora em diante, pelos cooperados, sem exceção, para que todos tenham seu direito de
          viver em uma comunidade com este propósito assegurado.          
        </p>
        <p>
          Do ponto de vista ambiental, do mesmo modo, a própria criação da CooperPalmas com
o propósito de promover a recuperação ambiental e viabilizar a produção agrícola,
atendendo à vocação da região, é passo dado no sentido de obter a adequação às
normas ambientais. Ademais, repita-se que o tanto que existe atualmente de área de
cerrado e arborização no empreendimento foi obra de nossos(as) associados(as), uma
vez que na origem a área era completamente degradada, haja vista ser área de plantio
extensivo de soja. O que temos feito desde então:
        </p>
        <ul>              
          <li><i class="bi bi-check"></i>
            Recuperação das terras degradadas do plantio de soja..</li>
            <li><i class="bi bi-check"></i> Plantio de espécies nativas e cultivo de plantas exóticas e frutíferas.</li>
            <li><i class="bi bi-check"></i>Respeito ao limite de impermeabilização do solo em no máximo 5% em cada unidade
              individual</li>
            <li><i class="bi bi-check"></i>  Suspensão de comercialização de lotes por decisão de assembleia e por vedação
              expressa no Estatuto Social da CooperPalmas.</li>
            <li><i class="bi bi-check"></i>Criação da primeira Brigada Florestal em área rural do DF, com a participação de 25
              brigadistas voluntários(as) e outras atividades.</li>
            


        </ul>
      </div>
    </div>
   
</section><!-- End Story Intro Section -->
<section id="mainCoantiner">
<br><br><br><br><br><br>


{% block diretoria %} {% include 'diretoria.html' %} {% endblock diretoria %}
</div>
<br>

<br><br><br><br>
</section>
{% endblock %}


</main>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../templates/assets/js/main.js"></script>


</body>

